# macOS
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Expo
.expo/
.expo-shared/
dist/
web-build/

# React Native
android/.gradle/
android/app/build/
android/build/
/ios/Pods/
/ios/build/

# Logs
*.log

# Env
.env
.env.*
**/.DS_Store
